@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff;
    --background-color: #080808;
    -webkit-tap-highlight-color: transparent;

    font-family: Roboto, sans-serif;
    color: var(--text-color);
}

html, body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    position: relative;
}

.menu .menu-items-desktop {
    display: none;
}


.menu-title {
    font-size: 24px;
    font-weight: bold;
}

.menu .side-menu {
    display: none;
}

.menu .menu-logo,
.menu .side-menu-button {
    width: 32px;
    height: 32px;
    filter: invert(1);
    margin: 20px;
}

.menu .side-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--background-color);
    display: none;
    z-index: 1;
}

.menu .side-menu .side-menu-header {
    display: flex;
    justify-content: end;
    margin-right: 8px;
}

.menu .side-menu .side-menu-header .side-menu-close-button {
    margin-top: 8px;
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.menu .side-menu-list .side-menu-item {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    gap: 16px;
    height: 82px;
    border-bottom: 1px solid #fff;
}

.menu .side-menu-list .side-menu-item a.selected {
    color: #e0ea73;
}

.menu .side-menu-list .side-menu-item img {
    width: 18px;
    filter: invert(1);
}

.menu .side-menu-list .side-menu-item a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}


.vehicles-brands .brands-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

.vehicles-brands .brands-container .brand-button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #1a191e;
}

.vehicles-brands .brands-container .brand-button.active {
    border: 2px solid #e0ea73;
}

.vehicles-brands .brands-container .brand-button img[alt="volkswagen"] {
    filter: invert(1);
}

.vehicles-brands .brands-container .brand-button img[alt="peugeot"] {
    width: 48px;
    height: 48px;
}

.vehicles-brands .brands-container .brand-button img {
    width: 48px;
}

.vehicles-catalog {
    margin-top: 24px;
}

.vehicles-catalog .catalog-header {
    display: flex;
    justify-content: space-between;
    margin: 24px 24px;
}

.vehicles-catalog .catalog-header h1 {
    margin: 0;
}

.vehicles-catalog .search-container {
    position: relative;
}

.vehicles-catalog .search-container img{
    filter: invert(1);
    width: 18px;
    height: 18px;
    position: absolute;
    right: 4px;
    top: 6px;
}

.input-search-vehicle {
    border: 1px solid #424242;
    height: 20px;
    background-color: #262626;
    border-radius: 8px;
    padding: 4px;
}

.input-search-vehicle:focus {
    outline: none;
    border: 1px solid #E0EA70 !important;
    color: #ffffff;
}

.vehicles-catalog h1 {
    font-family: Roboto, sans-serif;
    margin: 24px;
    font-size: 24px;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-card {
    border: 1px solid #fff;
    margin: 0 24px;
    border-radius: 24px;
    background-color: #18181c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    cursor: pointer;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-card .vehicle-card-header {
    display: flex;
    justify-content: space-around;
    gap: 72px;
    align-items: center;
    margin: 16px;
    width: 100%;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-card .vehicle-card-header .vehicle-offer {
    padding: 8px 12px;
    background-color: #dfe51a;
    color: #000000;
    width: 72px;
    border-radius: 12px;
}

.add-favorite-button {
    pointer-events: auto;
    position: relative;
}

.add-favorite-button img {
    pointer-events: none;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-card .vehicle-card-header .add-favorite-button {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    border: #ffffff 1px solid;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-card .vehicle-card-header .add-favorite-button img {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-card .vehicle-card-image img {
    width: 280px;
    height: 180px;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: 16px;
    width: 100%;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-info h2 {
    color: #898585;
}

.vehicles-catalog .vehicles-catalog-container .vehicle-info p {
    color: #ffffff;
    font-weight: bold;
}

.contact-section {
    margin: 16px;
}

.vehicle-details .vehicle-detail-modal {
    display: none;
}

.vehicle-details .vehicle-detail-modal.show {
    position: fixed;
    display: block;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 50%;
    border-radius: 16px;
    background-color: #18181c;
    box-shadow: 0 0 10px;
}

.vehicle-details .vehicle-detail-modal.show .vehicle-details-content img[alt="close"] {
    filter: invert(1);
    width: 24px;
    height: 24px;
}



.vehicle-details .vehicle-detail-modal.show .vehicle-details-content {
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: justify;
    position: relative;
}

.vehicle-details .vehicle-detail-modal.show .vehicle-details-content .vehicle-details-close-button {
    position: absolute;
    right: 0;
}

.vehicle-details .vehicle-detail-modal.show a.vehicle-contact-button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 24px;
    background-color: #2dd24d;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

.vehicle-details .vehicle-detail-modal.show a img[alt="whatsapp"] {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.vehicle-details .vehicle-detail-modal {
    background-color: var(--background-color);
}

.contact-section {
    display: flex;
    flex-direction: column;
}

.contact-section .contact-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 24px;
}

.contact-section .contact-form input {
    padding: 8px;
}

.contact-section button.contact-button {
    padding: 8px;
    background-color: #2dd24d;
    align-self: center;
    width: 180px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.vehicle-fav-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.favs-section .favs-card-container .vehicle-fav-card img {
    width: 120px;
    margin: 8px;
    border-radius: 16px;
}

.vehicle-in-fav-info {
    display: flex;
    gap: 12px;
    margin: 12px;
}

.favs-section .favs-card-container .vehicle-fav-card .remove-fav-button img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.admin-section h1 {
    margin: 24px;
}

.admin-cards-container a {
    text-decoration: none;
    color: #ffffff;
}

.admin-cards-container a img {
    height: 24px;
    width: 24px;
    filter: invert(1);

}

.admin-cards-container .admin-card {
    background-color: #18181c;
    border: 1px solid #000000;
    margin: 8px;
    padding: 54px 0;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}

.admin-cards-container .admin-card p,
.admin-cards-container .admin-card img
{
    margin: 0 24px;
}
.contacts-messages .message-card {
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 16px;
    margin: 24px 24px;
    max-width: 280px;
}

.message-card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*.message-card-user-info {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.contacts-messages .delete-message-button {
    background-color: brown;
    margin: 8px;
    align-self: center;
    width: 120px;
    border-radius: 8px;
    height: 24px;
}

.delete-message-button img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.message-card-buttton-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.admin-header {
    margin: 48px;
    text-align: center;
}

.admin-vehicles-section {
    display: flex;
    justify-content: center;
}

.vehicle-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 8px 0;
}

.selects-container {
    display: grid;
    /* gap: 8px; */
    grid-template-columns: repeat(2, 1fr);
}

.vehicle-form-submit-button {
    background-color: #2dd24d;
    color: #ffffff;
    align-self: center;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.vehicle-form .form-item {
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
}

.vehicle-form label {
    margin-left: 8px;
}

.vehicle-form input,
.vehicle-form select
{
    padding: 8px;
    margin:8px;
}

.vehicle-form input:focus,
.vehicle-form select:focus {
    outline: none;
    border: 1px solid #E0EA70 !important;
}

.vehicle-form select {
    width: 120px;
}

@media (min-width: 780px) {
    .menu .side-menu-button {
        display: none;
    }

    .menu {
        padding: 21px;
        background-color: #2c2c2e;
        border: none;
        justify-content: flex-start;
        gap: 24px;
    }

    .menu .menu-items-desktop {
        display: flex;
        gap: 24px;
    }

    .menu .menu-items-desktop .menu-item {
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: var(--text-color);
    }

    .menu .menu-items-desktop .menu-item.selected {
        color: #e0ea73;
    }

    .menu .menu-logo {
        display: none;
    }

    .vehicles-catalog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .input-search-vehicle {
        width: 280px;
    }

    .vehicle-details .vehicle-detail-modal.show {
        position: fixed;
        display: block;
        top: 25%;
        left: 20%;
        width: 60%;
        height: 50%;
        border-radius: 16px;
        background-color: #18181c;
        box-shadow: 0 0 10px;
    }

    .vehicle-details .vehicle-detail-modal.show .vehicle-details-content {
        align-items: center;
        font-size: 18px;
    }

    .vehicle-details .vehicle-detail-modal.show button.vehicle-contact-button {
        width: 180px;
        justify-content: center;
    }

    .contact-section .contact-form {
        align-items: center;
    }

    .contact-section .contact-form input {
        min-width: 280px;
    }

    .admin-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .selects-container {
        grid-template-columns: repeat(2, 128px);
    }

    .inputs-container {
        display: grid;
        grid-template-columns: repeat(2, 310px);
    }
}

.admin-vehicles-section .available-vehicle-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 16px;
    background-color: #18181c;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    color: #ffffff;
    text-decoration: none;
}

.admin-vehicles-section .available-vehicle-card .vehicle-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-vehicles-section .available-vehicle-card .vehicle-img {
    width: 120px;
}

.admin-vehicles-section .available-vehicle-card .arrow-right {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

@media (min-width: 1024px) {
    .vehicles-catalog-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

@media (min-width: 1920px) {
    .vehicles-catalog-container {
        grid-template-columns: repeat(4, 1fr);
    }
}